[Desktop Entry]
Version=1.0
Name=About
Comment=System information from Fastfetch
Exec=kitty --class=About --title=About sh -c "fastfetch; read -s -n 1"
Terminal=false
Type=Application
Icon=Arch
Categories=GTK;
StartupNotify=false

