[Desktop Entry]
Version=1.0
Type=Application
Name=Anarchy
Comment=Anarchy TUI
Exec=kitty --class=Anarchy --title=Anarchy "$HOME/.local/share/anarchy/bin/anarchy"
Icon=Arch
Terminal=false
Categories=System;Utility;
StartupNotify=false 
